# Entorno virtual
venv/
.venv/

# Variables de entorno (contraseñas, claves)
.env

# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo

# Configuración local de VS Code
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de pruebas o exportaciones
*.log

# Bases de datos locales (si existieran)
*.db
*.sqlite3
# Reportes PDF generados
*.pdf

# Archivos de respaldo
*.bak*
crear_usuario.py